/*
    Global Styles
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("groceryphoto.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

button {
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
}

p {
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4, body {
        font-size: 1rem;
    }
    h1, h2, h3, h4 {
        line-height: 1;
    }
}

/*
    Grocery Form Styles
*/

.section-center {
    align-content: center;
    background: #000000d0;
    color: white;
    padding: 2em;
    width: 600px;
    margin: 1em;
    text-align: center;
}

.alert {
    margin-bottom: 1rem;
    height: 1.25rem;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    border-radius: 0.25rem;
    text-transform: capitalize;
    letter-spacing: 0.10rem;
}

.alert-danger {
    color: rgb(240, 0, 0);
    background: rgba(240, 0, 0, 0.175);
}

.alert-success {
    color: green;
    background: rgba(0, 128, 0, 0.175);
}

.form-control {
    padding: 1em;
}

#grocery {
    border: none;
    outline: none;
    padding: 0.4em 0.5em;
    border-radius: 24px 0 0 24px;
    background: #7c7c7c2b;
    color: white;
    font-size: 105%;
    width: calc(100%-100px);
}

.submit-btn {
    border: none;
    outline: none;
    padding: 0.4em 0.5em;
    border-radius: 0 24px 24px 0;
    background: rgba(75, 75, 219, 0.7);
    color: white;
    font-size: 105%;
    text-transform: capitalize;
    width: calc(100%-100px);
}

/*
    Grocery List Styles
*/

.grocery-container {
    visibility: hidden;
}

.show-container {
    visibility: visible;
}

.grocery-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 1rem;
    padding: 0.25rem;
    text-transform: capitalize;
}

.title {
    font-size: 1.05rem;
}

.edit-btn, .delete-btn {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
}

.clear-btn {
    border: none;
    background: transparent;
    font-size: large;
    letter-spacing: 3px;
    text-transform: capitalize;
    color: red;
}
